name: Publish Docker Containers

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: linux.24_04.4x
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.12"
          enable-cache: true
      - name: Get TorchX version
        run: |
          set -eux
          uv sync --frozen
          echo "VERSION=$(uv run python -c 'import torchx; print(torchx.__version__)')" >> $GITHUB_ENV
      - name: Configure Docker
        run: |
          set -eux
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
      - name: Build torchx container
        run: |
          set -eux
          torchx/runtime/container/build.sh
          docker tag torchx "ghcr.io/meta-pytorch/torchx:$VERSION"
      - name: Push containers
        run: |
          set -eux
          docker push "ghcr.io/meta-pytorch/torchx:$VERSION"
