name: Python Unittests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unittest:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        platform: [linux.24_04.4x]
        include:
          - python-version: "3.12"
            platform: macos-15-xlarge
      fail-fast: false
    env:
      OS: ${{ matrix.platform }}
      PYTHON: ${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout TorchX
        uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install dependencies
        run: |
          set -eux
          uv sync --frozen --extra dev
      - name: Run tests
        run: |
          set -eux
          uv run pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: OS,PYTHON
          files: ./coverage.xml,!./cache
          flags: unittests
          verbose: true
